name: golangci-lint

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on: 
  push: 
    branches: 
      - master
  pull_request: 

permissions: 
  contents: read

jobs: 
  golangci: 
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with: 
          go-version-file: 'go.mod'

      - name: Run go-build 
        run: ./build.sh -b

      - uses: golangci/golangci-lint-action@v9
        with: 
          version: latest
          only-new-issues: true
